*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.6) ;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 25%;
    text-align: center;

}
nav .menu{
    width: 40%; display: flex; justify-content: space-around;
}
nav .menu a{
    width: 20%; text-decoration: none; color: aliceblue; font-weight: bold;
}
nav .menu a:first-child{
    color: black;
}

main{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 50px; font-weight: 500;
    text-shadow: 2px 1px 2px black; text-transform: uppercase;
}
section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
}
section .btn{
    font-size: large;
    font-weight: bolder;
    background: black;
    color: white;
    text-decoration: none;
}
.btn:hover{
    background: rgb(17, 170, 216);
    color: black;
}