*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.6) ;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 25%;
    text-align: center;

}
nav .menu{
    width: 40%; display: flex; justify-content: space-around;
}
nav .menu a{
    width: 20%; text-decoration: none; color: aliceblue; font-weight: bold;
}
nav .menu a:first-child{
    color: black;
}

main{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 50px; font-weight: 500;
    text-shadow: 2px 1px 2px black; text-transform: uppercase;
} 

.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 15px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.btn1{
    margin: 10px;
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
    background: black;
    color: white;
}
.btn1:hover{
    background: rgb(17, 170, 216);
    color: black;
}